/* ******************* GOOGLE FONT ******************* */
@font-face {
    font-family: "SourceSansPro";
    src: url(../font/SourceSansPro-Light.ttf);
}
/* ******************* Variables ******************* */
:root {
    --color1 : rgb(17, 17, 17);
    --color2: #299122;
    --color3: #9bdca2;
    --color4: #f1f1f1;
    --size: 300px;
}
/* ******************* Généralités ******************* */
body{
    background: var(--color4);
    font-family: "SourceSansPro";
    width: 100%;
}
header {
    height: 100vh;
}
a {
    color: var(--color1);
    
}
a:hover {
    color: var(--color2);
    transition: 0.2s;
}
p::selection,
a::selection,
h1::selection,
h2::selection,
h3::selection,
li::selection {
    color:var(--color4);
    background: var(--color2);
}
strong::selection {
    color:var(--color1);
    background: var(--color3);
}
/* ******************* NAV BAR ******************* */
header nav {
    height: 10vh;
}
header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    position: fixed;
    width: 100%;
    background: var(--color4);
}
header nav ul li {
    border-top: 2px solid transparent;
    height: 100%;
    transition: 0.2s;
}
header nav ul li:hover {
    border-top: 2px solid var(--color2);
}
header nav ul li a {
    padding: 10px;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    height: 100%;
    display: block;
}
/* ******************* H1 & H2 ******************* */
.siteHeader {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.siteHeader-h1 {
    font-size: 10rem;
    letter-spacing: 0.1em;
    text-align: center;
}
.siteHeader-h2 {
    font-size: 2rem;
    color: var(--color2);
}

/* ******************* ASIDE RESEAUX SOCIAUX ******************* */
aside {
    position: fixed;
    top:50%;
    right: 0;
    margin: 0 1%;
}
aside ul li {
    font-size: 2em;
    text-align: center;
}
.aside-icones-hover:hover {
    color: var(--color2);
    animation: hover 1s infinite linear;
    cursor: pointer;
}
@keyframes hover {
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}
/* ******************* MAIN SECTION INDEX ******************* */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sectionMain {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    margin: 5vh 10%;
}
.sectionMain-h2 {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 4em;
}
.sectionMain i {
    color: var(--color2);
}
.sectionMainp {
    text-align: justify;
    font-size: 1.2em;
}
.sectionMainp-margin {
    margin-bottom: 3%;
}
.sectionMain-h3 {
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-weight: bold;
}
.h3-color-green {
    color: var(--color2);
}
.h3-weight-bold {
    font-weight: bold;
}
.sectionMain-fontsize {
    font-size: 4em;
    font-weight: bolder;
    text-align: center;
    color: var(--color2);
}
/* ******************* MAIN SECTION QUI SUIS JE ******************* */
.nameLanguage {
    text-transform: uppercase;
    font-weight: bold;
}
.sectionMainSkills-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "div1 div2 "
        "div3 div4 "
        "div5 div6 ";
    gap: 10px;
}
.sectionDev {
    grid-area: div1;
}
.sectionLanguage {
    grid-area: div2;
}
.sectionFramework {
    grid-area: div3;
}
.sectionCMS {
    grid-area: div4;
}
.sectionDesign {
    grid-area: div5;
}
.sectionProject {
    grid-area: div6;
}
.sectionNews {
    grid-area: news;
}
.sectionVacancies {
    grid-area: numb;
}
.sectionETC {
    grid-area: etc;
}
.sectionMain-skills-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ******************* FOOTER ******************* */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
}
footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
footer ul li {
    padding: 20px 40px;
}
/* ******************* MEDIA QUERYS ******************* */
@media screen and (max-width: 1135px) {
    .siteHeader-h1 {
        font-size: 8rem;
    }
}
@media screen and (max-width: 910px) {
    .siteHeader-h1 {
        font-size: 4rem;
        margin: 0 20px;
    }
    i{
        font-size: 0.8em;
    }
    .siteHeader {
        justify-content: space-evenly;
    }
    footer ul li  {
        padding: 10px;
    }
}
@media screen and (max-width: 640px) {
    .siteHeader-h1 {
        font-size: 3rem;
    }
    .sectionMainSkills-grid {
        display: block;
    }
    .sectionMainSkills-grid h3 {
        text-align: center;
    }
    .sectionMainSkills-grid ul li {
        text-align: center;
    }
}
@media screen and (max-width: 488px) {
    .siteHeader-h1 {
        font-size: 3rem;
    }
    .siteHeader-h2 {
        font-size: 1rem;
    }
    header nav ul li a {
        font-size: 1rem;
        padding: 15px;
    }
}