/* ******************* GOOGLE FONT ******************* */
@font-face {
    font-family: "SourceSansPro";
    src: url(../font/SourceSansPro-Light.ttf);
}
/* ******************* Variables ******************* */
:root {
    --color1 : rgb(17, 17, 17);
    --color2: #33a73f;
    --color3: #9bdca2;
    --color4: #f1f1f1;
    --size: 300px;
}
/* ******************* Généralités ******************* */
body{
    background: var(--color4)
}
#page {
    margin: 0 10%;
    font-family: "SourceSansPro";
}
a {
    color: var(--color1);
    cursor: pointer;
}
a:hover {
    color: var(--color2);
    transition: 0.2s;
}
header {
    height: 100vh;
}
p::selection,
a::selection,
h1::selection,
h2::selection,
h3::selection,
li::selection {
    color:var(--color4);
    background: var(--color2);
}
strong::selection {
    color:var(--color1);
    background: var(--color3);
}
i {
    color: var(--color2);
}
/* ******************* NAV BAR ******************* */
header nav {
    height: 10vh;
    width: 80%;
    margin: 0 auto;
    position: fixed;
    background: var(--color4);
    padding: 0 300px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
header nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid transparent;
    transition: 0.2s;
}
header nav ul li:hover {
    border-top: 2px solid var(--color2);
    transition: 0.2s;
}
header nav ul li a {
    font-size: 1.3em;
    letter-spacing: 0.2em; 
}
/* ******************* H1 & H2 ******************* */
.siteHeader {
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.siteHeader-h1 {
    font-weight:bolder;
    font-size: 10em;
}
.siteHeader-h1,
.siteHeader-h2 {
    letter-spacing: 0.2em;
    text-align: center;
}
/* ******************* ASIDE RESEAUX SOCIAUX ******************* */
aside {
    position: fixed;
    top:40%;
    right: 0;
    margin-right: 2%;
}
aside ul li {
    margin: 10px 0px;
    font-size: 2em;
    text-align: center;
}
aside ul li i {
    color: var(--color1);
}
aside ul li i:hover {
    color: var(--color2);
}
/* ******************* MAIN SECTION INDEX ******************* */
section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sectionMain {
    width: 60%;
    margin: 0px auto;
    line-height: 1.3em;
}
.sectionMain-h2 {
    font-size: 2em;
    font-weight: bold;
    padding: 50px 0;
    letter-spacing: 0.1em;
}
.sectionMainp {
    text-align: justify;
    line-height: 1.3em;
    font-size: 1.2em;
}
/* ******************* MAIN SECTION QUI SUIS JE ******************* */
.skillsTitle {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 25px;
}
.nameLanguage {
    text-transform: uppercase;
    font-weight: bold;
}
.sectionMainSkills-grid {
    display: grid;
    grid-template-columns: 20% 20% 60%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "div1 div2 news"
        "div3 div4 numb"
        "div5 div6 etc";
    gap: 10px;
}
.sectionDev {
    grid-area: div1;
}
.sectionLanguage {
    grid-area: div2;
}
.sectionFramework {
    grid-area: div3;
}
.sectionCMS {
    grid-area: div4;
}
.sectionDesign {
    grid-area: div5;
}
.sectionProject {
    grid-area: div6;
}
.sectionNews {
    grid-area: news;
}
.sectionVacancies {
    grid-area: numb;
}
.sectionETC {
    grid-area: etc;

}
.sectionMain-h3 {
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-weight: bold;
}
.h3-color-green {
    color: var(--color2);
}
.h3-weight-bold {
    font-weight: bold;
}
.sectionMain-fontsize {
    font-size: 4em;
    font-weight: bolder;
    text-align: center;
    color: var(--color2);
}
/* ******************* FOOTER ******************* */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer ul li {
    padding: 20px 40px;
}
/* ******************* MEDIA QUERYS ******************* */
